*.jsonl
*.json
!examples/
!examples/*.jsonl
!configs/*.json
*.pt
*.pth
*.safetensors
*.ckpt
*.bin
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
*.log
*.pdf
outputs/
condaenv.*.requirements.txt
modelscope/
